body{
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

.header{
  padding: 12px;
  background-image: linear-gradient(to bottom, black, #8A0000 );
}

.wheel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;

  width: 500px;
}
.wheel-section{
  display: flex;
  justify-content: center;

  display: -webkit-box;
  display: -ms-flexbox;
}

#message{
  min-height: 7rem;
  font-size: 2rem;
  margin-bottom: 12px;
  min-width: 500px;
}

.song{
  color:aqua;
}
.style{
  color: #f0c808;
}

.setlist-container{
  width: 400px;
  margin: 12px;
  border-width: 3px;
  border-style: solid;
  /* border-color: #43cea2; */
  border-image:
    linear-gradient(
      to bottom,
      rgb(1, 217, 255),
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

#setlist{
  width: 100%;
  /* margin: 12px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.css-button-gradient--4 {
  width: 130px;
  height: 40px;
  margin-top: 6px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);

  transition: all 0.5s;
}
.css-button-gradient--4:hover {
  background-position: right center;
  min-width: 135px;
  height: 42px;

  transition: all 0.5s;
}
.css-button-gradient--4:active {
  top: 2px;
  transition: all 0.5s;
}




.spin-button {
  border: 2px solid white;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 12px 6px 12px;
  border-radius: 5px;

  transition: all 0.5s;
}
.spin-button:hover {
  color: aqua;
  border: 3px solid aqua;
  transition: all 0.5s;
}

ol{
  padding-left: 0;
  margin-left: 0px;
  width: 300px;
}

@media (max-width: 777px) {
  .wheel-section{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .setlist-container{
    width: 90%;

    -webkit-order: 2;
    -ms-order: 2;
  }
  #message {
    width: 95%;
    min-width: 200px;
  }
  .wheel {
    width: 100%;

    display: -webkit-box;
    display: -ms-flexbox;

    -webkit-order: 1;
    -ms-order: 1;
  }
}
